@import "variables.scss";

@function exponent($base, $exponent) {
  // reset value
  $value: $base;
  // positive intergers get multiplied
  @if $exponent > 1 {
    @for $i from 2 through $exponent {
      $value: $value * $base; } }
  // negitive intergers get divided. A number divided by itself is 1
  @if $exponent < 1 {
    @for $i from 0 through -$exponent {
      $value: $value / $base; } }
  // return the last value written
  @return $value;
}

@function generateshadow($size, $color1, $color2, $inset: false, $repeats) {
    $val: '';
    $prefix: if($inset, 'inset', '');
    // $repeats: if($inset, 1, $rep);

    @for $i from 1 through $repeats {
        $factor: 1 / exponent(3, $i);
        $val: #{$val},
            #{$prefix} ($size * $factor) ($size * $factor) ($size * $factor * 2) $color1,
            #{$prefix} ($size * -1 * $factor) ($size * -1 * $factor) ($size * $factor * 2) $color2;
    }
    @return $val;
}

@mixin shadow($size: 12px, $inset: false, $prop: 'box-shadow', $repeats: 3) {
    $color1: rgba(108, 141, 154, 0.5);
    $color2: rgba(255, 255, 255, 0.8);

    transition: box-shadow 0.2s;

    #{$prop}: generateshadow($size, $color1, $color2, $inset, $repeats);
}

@mixin light($enabled: false) {
    @if $enabled {
        background-image: radial-gradient(lighten($accent-color, 50%), lighten($accent-color, 20%));
    }
    @else {
        background-image: radial-gradient(darken(desaturate($accent-color, 80%), 50%), darken($accent-color, 40%));
    }
}

@mixin light-glow($enabled: false) {
    $blur: calc(#{if($enabled, 16px, 0)}); // * var(--shadowSize));
    $spread: calc(#{if($enabled, 8px, 0)}); // * var(--shadowSize));
    box-shadow: 0 0 $blur $spread lighten(saturate(rgba($accent-color, 0.8), 100%), 10%);
}
